<div class="user-list">
    <div class="user-item"  *ngFor="let user of users">
        <img src="imagen.jpg" alt="Foto de Usuario" class="user-photo"
            (click)="openModal(user.name, user.cedula, user.email, 'imagen.jpg', user.rol)">
        <span class="user-name"
            (click)="openModal(user.name, user.cedula, user.email, 'imagen.jpg', user.rol)">{{ user.name }}</span>
        <div class="user-actions">
            <div class="dropdown">
                <button class="dropbtn">Asignar Rol</button>
                <div class="dropdown-content">
                    <a (click)="assignRole(user.id, 'Administrador')">Administrador</a>
                    <a (click)="assignRole(user.id, 'Moderador')">Moderador</a>
                    <a (click)="assignRole(user.id, 'Visitante')">Visitante</a>
                    <a (click)="assignRole(user.id, 'Seguridad')">Seguridad</a>
                </div>
            </div>
            <button class="status-btn" (click)="toggleStatus($event.target, user.id)">Activo</button>
        </div>
    </div>
</div>

<div id="userModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <div class="modal-header">
            <img id="modalImage" class="modal-photo" src="" alt="Foto del Usuario">
        </div>
        <h2>Detalles del Usuario</h2>
        <p><strong>Nombre:</strong> <span id="modalName"></span></p>
        <p><strong>Cédula:</strong> <span id="modalId"></span></p>
        <p><strong>Email:</strong> <span id="modalEmail"></span></p>
        <p><strong>Rol:</strong> <span id="Administrador"></span></p>

    </div>
</div>