<label>
    <input type="checkbox" id="boton-menu">
    <div class="hamburguesa">
        <span class="line-uno ajuste"></span>
        <span class="line-dos ajuste"></span>
        <span class="line-tres ajuste"></span>
    </div>

    <div class="menu">
        <h1>SGEC</h1>
        <ul>
            <li><a routerLink="/dashboard/profile"><i class="far fa-user"></i>Perfil</a></li>
            <li><a routerLink="/dashboard/home"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a routerLink="/dashboard/graphic"><i class="fab fa-gripfire"></i>Gráficas</a></li>
            <li><a routerLink="/dashboard/configurations"><i class="fas fa-cogs"></i>Configuración</a></li>
            <li><a routerLink="/login"><i class="fas fa-cogs"></i>Logout</a></li>
        </ul>
    </div>
</label>

<router-outlet></router-outlet>