<div class="container">
    <div class="img-container">
        <img id="imagen-login" src="login.png" alt="imagen login">
    </div>
    <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <h2>Inicio Sesión</h2>
            <div class="inputLogin">
                <input type="text" formControlName="email" required="required">
                <span>Usuario</span>
                <i></i>
            </div>
            <div class="inputLogin">
                <input type="password" formControlName="password" required="required">
                <span>Contraseña</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Olvidó su contraseña</a>
                <a routerLink="/register">Registrarse</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</div>